[tool.poetry]
name = "aws-kms-crypt"
version = "1.0.0"
description = "Utility for encrypting and decrypting secrets with the AWS KMS service"
authors = ["Sami Jaktholm <sjakthol@outlook.com>"]
license = "MIT"
packages = [
  {include = "kmscrypt"},
  {include = "py.typed"}
]
readme = 'README.md'

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
cryptography = ">=3.4,<37.0"
boto3 = "<2"

[tool.poetry.dev-dependencies]
bandit = "^1.7.1"
black = "^21.12b0"
boto3-stubs = {extras = ["kms"], version = "^1.20.34"}
mypy = "^0.930"
pylint = "^2.12.2"
pytest = "^6.2.3"
pytest-cov = "^3.0.0"
safety = "^1.10.3"
tox = "^3.24.5"
moto = {extras = ["kms"], version = "^2.3.0"}
typing-extensions = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
